* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  float: left;
  margin-left: 10%;
}
.text-primary {
  color: #ee6e73;
}
body {
  font-family: sans-serif;
}
/* header */
.header {
  background: url("../images/city1.jpg");
  background-size: cover;
  padding: 200px 0;
  text-align: center;
  color: white;
}
.header div {
  font-size: 50px;
  color: #ee6e73;
}
.header > h1 {
  font-size: 50px;
}
.header p {
  font-size: 30px;
  margin: 40px 0;
}
.header h2 {
  font-size: 30px;
  margin: 40px 0;
}
.header a {
  font-size: 15px;
  text-decoration: none;
  color: white;
  background-color: #ee6e73;
  text-transform: uppercase;
  padding: 10px 20px;
}
/* main */
/* about us */
.about-us {
  float: left;
  width: 100%;
}
.about-us p {
  font-size: 30px;
  text-align: center;
  width: 100%;
  font-family: serif;
  margin: 50px 0;
  font-weight: bold;
}
.about-us-inner {
  float: left;
  width: 100%;
}
.about-us-child {
  float: left;
  width: 32%;
}
.about-us-child div {
  font-size: 40px;
  color: #ee6e73;
  text-align: center;
  margin-bottom: 30px;
}
.about-us-child h3 {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
}
.about-us-child p {
  font-size: 15px;
  text-align: justify;
}
.about-us-child-mid {
  margin: 0 2%;
}
/* services */
.services {
  background-color: #ee6e73;
  float: left;
  width: 100%;
  color: white;
  padding: 50px 0;
}
/* services child */
.servicer-ineer-child {
  width: 32%;
  float: left;
}
.servicer-ineer-child-mid {
  margin: 0 2%;
}
.servicer-ineer-child h2 {
  margin-bottom: 5px;
  font-size: 18px;
}
.servicer-ineer-child a {
  font-size: 20px;
  border: 1px solid white;
  padding: 8px 15px;
  text-decoration: none;
  color: white;
}
/* visitors */
.visitors {
  width: 100%;
  float: left;
  background-color: gray;
  padding: 50px 0;
}
/* visitors left */
.visitors-left {
  width: 55%;
  background-color: white;
  float: left;
  padding: 10px;
}
.visitors-left h2 {
  margin: 20px 25px;
}
.visitors-left p {
  margin-bottom: 15px;
  margin-left: 25px;
}
/* visitors right */
.visitors-right {
  background-color: #ee6e73;
  float: left;
  width: 43%;
  margin-left: 2%;
}
.visitors-right-child {
  width: 25%;
  color: white;
  float: left;
  margin: 75px 0;
  text-align: center;
}
/* our location  */
.our-location {
  float: left;
  width: 100%;
}
.our-location p {
  font-size: 20px;
  text-align: center;
  margin: 40px 0;
  font-weight: bold;
}
